@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #242526; */
}

nav{
    padding: 6px 20px 6px 20px;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-bottom: 1px solid #363738;
}
.fb-search{
    height: 100%;
    width: 22.5%;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fb-content{
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.fb-menu{
    height: 100%;
    width: 22.5%;
    border: 1px solid red;
}


section{
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
}


.logo{
    height: 45px;
    min-width: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.logo img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.search-bar{
    height: 100%;
    width: 85%;
    border: 1px solid #f0f2f5;
    border-radius: 30px;
    margin-right: 10px;
}
.search-bar form{
    height: 100%;
    width: 100%;
}
.search-bar input[type=text]{
    height: 100%;
    width: 100%;
    border-radius: 34px;
    outline: none;
    border: 1px solid transparent;
    padding: 10px 10px 10px 45px;
    background-color: #f0f2f5;
}
.search-bar input[type=text]::placeholder{
    font-family: 'Roboto', sans-serif;
    color: #737073;
    font-size: 18px;
    font-weight: 400;
}

.FBC{
    height: 100%;
    width: 115px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #f0f2f5;

    display: flex;
    align-items: center;
    justify-content: center;
}